body {
  background-color: #c3c3c3;
}
h1 {
  text-align: center;
}
form {
  display: inline;
}
button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.div_body {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.div_list {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.div_form_holder {
  text-align: center;
}
